/* header CSS */
body {
    background-color: #CDD9C5;
}
.nav {
    display: flex;
    align-items: center;
    margin: 0px 2%;
  }

.logo {
    width: 25%;
 } 
.logo img {
    width: 15%;
    padding: 20px;
}

.navMenu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'KoHo', sans-serif;
    font-size: large;
} 

.navMenu p {
    text-decoration: none;
    cursor: pointer;
}
/* hero CSS */
section {
    background-repeat: no-repeat;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    min-height: 500px;
    height: 650px;
    background-color: #EFEADD;
    border: 1px solid black;
    border-radius: 15px;
}

.circle {
    display: flex;
    justify-content:space-around ;
    width: 5%;
    padding: 10px;;
}
.Red {
    display: block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    border: 0.5px solid black;
}

.Yellow {
    display: block;
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    border: 0.5px solid black;
}

.Green {
    display: block;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    border: 0.5px solid black;
}

.heroTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
}

.giraffe {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;
    max-height: 450px;

}

.giraffe img {
    max-width: 500px;
    max-height: 1000px;
    object-fit: cover;
}

/* Typography CSS */
h1 {
    font-size: 3vw;
    margin: 0;
    font-family: 'Twinkle Star', cursive;
}

h2 {
    font-size: 6vw;
    margin: 0;
    font-family: 'KoHo', sans-serif;
}
/* Category Grid CSS */

.subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 200px;
    margin: 50px auto;
    font-family: 'KoHo', sans-serif;
    font-size: x-large;
  }
  
#category {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "cifa cifa cifa"
    "court court court"
    "dine dine dine"
    ;
}
  
#cifa {
    grid-area: cifa;
    background-image: url("../images/cifa_cover.png");
  
}
#court {
    grid-area: court;
    background-image: url("../images/va_cover.png");
}
  
#dine {
    grid-area: dine;
    background-image: url("../images/dine_cover.png");
}
  
.categoryColumn {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}
  
.heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #FF6200;
}
  
/* footer CSS */
footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1rem;
}
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 40px;
}
  
.footer-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.footer-wrapper img:hover {
    cursor: pointer;
    transform: scale(120%);
  }

  @media only screen and (max-width: 600px) {
    #category {
      grid-template-rows: 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "cifa"
        "court"
        "dine"
      ;
    }
  }